.container {
    border: 10px solid white;
    background-color: white;
    margin: 0 10%;
}

.heading {
    background-color: #A8F0F0;
    text-align: right;
}

#about {
    font-size: 14pt;
}

.blog-section {
    border: 4px solid #C2E9E9;
    background-color: #E8FBFB;
    padding: 5px;
    margin: 10px 0 0;
    overflow: auto;
}

img {
    float: right;
}

.date {
    border-bottom: 2px blue dashed;
}

body {
    align-items: center;
    background-image: url("./images/background-img.jpg");
}